In [1]:
import pandas as pd

/var/folders/0r/13xz5g6j45589319bn94k47w0000gn/T/ipykernel_47581/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv("./bash_fcm_facilities.csv")
df

                               facility_id postal_code
0     018a932e-eb07-7b94-9a2e-57c49789d242        0699
1     018a932e-ed02-7d06-8729-9dcf46b16ec6        0699
2     018a932e-ed91-7d99-a93f-a848baea846c        0699
3     018a932e-ee1d-7e27-b06c-275953125398        0699
4     018a932e-ee68-7e6d-9c5e-b7b4ceede07b        0699
...                                    ...         ...
5952  018b4259-3122-778a-ab7d-0651920de669        1684
5953  018a9332-6aeb-7589-9950-0b8a306e731f        6017
5954  018a932e-eefb-7f05-a459-21e0e8bac70b        7945
5955  018a932e-f124-70fc-b2d1-1399450e1608        8001
5956  018a932e-f89e-77a9-bd67-0195484c32b6        7460

[5957 rows x 2 columns]

In [3]:
df[df['facility_id'].duplicated(keep=False)]

                               facility_id postal_code
821   018a9330-6221-7c0a-a78e-6da901b466a0        0458
2092  018a9332-bb79-7b43-8c55-7a220ab811d4        1734
3173  018a9335-62d5-71ba-93e1-2045e8784d89        5100
3431  018a9336-276a-7ab4-b2a2-3f4444561c83        0832
3688  018a9336-c5ba-7f73-b5d5-660790ecde37        7600
3871  018a9337-5466-787b-bafa-2b892a476894        0147
4460  018a9334-0614-7de7-aecc-4bf9f7004fc6        1035
4618  018a9337-c63a-76ff-b6c0-8cbefbea04a0        0920
4648  018a9334-0614-7de7-aecc-4bf9f7004fc6        1035
4649  018a9334-0614-7de7-aecc-4bf9f7004fc6        1035
4650  018a9335-62d5-71ba-93e1-2045e8784d89        5100
4651  018a9335-62d5-71ba-93e1-2045e8784d89        5100
4652  018a9336-276a-7ab4-b2a2-3f4444561c83        0832
4653  018a9330-6221-7c0a-a78e-6da901b466a0        0458
4654  018a9337-5466-787b-bafa-2b892a476894        0147
4655  018a9337-c63a-76ff-b6c0-8cbefbea04a0        0920
4656  018a9332-bb79-7b43-8c55-7a220ab811d4        1734
4657  018a9336-c5ba-7f73-b5d5-660790ecde37        7600

In [4]:
df['facility_id'].duplicated(keep=False).sum()

18

In [5]:
df.drop_duplicates(inplace=True)

In [6]:
df['facility_id'].duplicated(keep=False).sum()

0

In [7]:
df['postal_code'].duplicated().sum()

5422